{% extends 'partials/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static ''%}">
{% endblock %}
{% block title %} How to prevent from being a victim of Job Scam? {% endblock %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Articles</h2>
          <ol>
            <li><a href="{% url 'accounts:home'%}">Home</a></li>
            <li>How to prevent from being a victim of Job Scam?</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <h1>How to prevent from being a victim of Job Scam?</h1>
        <br>
        <p class="col-11">It takes a combination of awareness, prudence, and well-informed decision-making to avoid falling victim to an employment scam. 
            The following actions can be taken to safeguard oneself against job scams:
        </p>
        <br>

        <br>
        <h5>1. Research the Company</h5>
        <p class="col-11">Look up the name, address, and phone number of the business online. Look for any testimonials, rankings, or reputation-related details regarding the business. Check sure the company's contact information corresponds to what is listed on its official website.</p>
        <br>

        <h5>2. Beware of Unrealistic Promises</h5>
        <p class="col-11">Be wary of employment offers that promise absurdly high incomes for little effort or experience. It's crucial to be wary and do more research if an offer seems too good to be true.</p>
        <br>

        <h5>3. Never Pay Upfront Fees</h5>
        <p class="col-11">Typically, legitimate businesses won't demand payment up front for background checks, training, or job applications. Any solicitation for payment before you have even begun working should be avoided.</p>
        <br>

        <h5>4. Verify Contact Information</h5>
        <p class="col-11">Verify the provided phone number, email address, and other contact information matches the company's official records.</p>
        <br>

        <h5>5. Check the Website's Legitimacy</h5>
        <p class="col-11">Make sure the business's website is well-designed and has detailed information about its employees, services, and goods. Look for contact details, such as a real address rather than a P.O. Box.</p>
        <br>

        <h5>6. Do not Share Sensitive Information</h5>
        <p class="col-11">Passwords, Social Security numbers, and other private information should not be given out until you are positive that the offer is legitimate.</p>
        <br>

        <h5>7. Look for Red Flags</h5>
        <p class="col-11">If the job description is unclear, lacks specific duties, or has errors in grammar or spelling, proceed with caution. When receiving employment offers via unsolicited emails, especially if you haven't applied for the position, use caution.</p>
        <br>

        <b><p>You may considerably lower your risk of becoming a victim of a job scam by maintaining your knowledge, exercising caution, and taking the time to carefully investigate and verify job possibilities.</p></b>
      </div>
    </section>

  </main><!-- End #main -->
  {% endblock content %}